<header id="header" class="main-header">
    <img src="/assets/images/Vector.png" alt="logo" class="logo">
    <div class="top-bar">
        <input type="text" placeholder="Поиск по сайту" class="search">
        <div class="languages">
            <a href="#">КЗ</a> | <a href="#">РУ</a> | <a href="#">ENG</a>
        </div>
        <a href="tel:+77001234567">+7 (700) 123-45-67</a>
        <a href="consultation.html" class="consult-btn">Онлайн консультация &#8599 </a>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="index.html">Кто мы</a></li>
            <li><a href="what-we-do.html">Что делаем</a></li>
            <li><a href="consultant.html">ИИ Консультант</a></li>
            <li><a href="legal-support.html">Правовая поддержка</a></li>
            <li><a href="case-analysis.html">Анализ кейса</a></li>
            <li><a href="blog.html">Наш блог</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </nav>
</header>
<!-- -->